/*
 * ユーザ情報管理者ページ（usermanager.php）の見た目を整えるスタイルシート
 * 主に表の見た目
 */
.edit_area{
  width: 100%;
}

.edit_form{
  margin: 30px;
  width: 100%;
  line-height: 60px;
}

.edit_form table{
  border: medium solid #000000;
  padding: 10px;
  text-align: center;
}

.edit_form table th, .edit_form table td{
  border: thin solid #000000;
}

.edit_form table th{
  background: #fff5e5;
  padding: 10px;
}

.edit_form table td{
  padding: 3px 10px;
}

.info{
  line-height: 60px;
  margin-left: 100px;
}

ul{
  list-style: disc;
  padding-left: 40px;
  line-height: 1.5em;
}

li{
  margin-bottom: 0.5em;
}
